
li{
	list-style-type: none;

}
.menu{
	margin: auto;
	width:300px;
	height: 400px;
	background-image: url(../image/bj.png);
	background-repeat: no-repeat;
}
.img{
	background-image: url(../image/header.png);
	background-repeat: no-repeat;	
	width: 300px;
	height: 70px;
}
.menu ul{
	width: 150px;
	height: 250px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}
#green{
	background-image: url(../image/lvbiaoti.png);
	background-repeat: no-repeat;
}
ul li.white{
	background-image: url(../image/baibiaoti.png);
	background-repeat: no-repeat;
	border-width: 5px;
}

